// Workers social media

.socialmedia-workers {
    @extend %flex-align;
}

.socialmedia-workers__item{
    width: 44px;
    height: 44px;
    margin-right: 10px;
    margin-bottom: 30px;

    &:last-child {
            margin-right: 0;
        }
}



.socialmedia-workers__link {
    @extend %flex-align;
    width: 100%;
    height: 100%;

    background-color: #fff;
    color: #afb1b8;

    border-radius: 50%;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            color: #fff;
            background-color: var(--accent-color);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 50%;
        }
}

.socialmedia-workers__icon {
    fill: currentColor;
}


// Social media footer

.socials-footer {
    display: flex;
    flex-direction: column;

    margin-right: 93px;
}

.socials-footer__title,
.footer-subscribe .title {
    color: #ffffff;

    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    margin-bottom: 20px;
}

.socials-footer__list {
    display: flex;
}

.socials-footer__item {
    width: 44px;
    height: 44px;
    margin-right: 10px;

    &:last-child {
            margin-right: 0;
        }
}

.socials-footer__link {
    @extend %flex-align;
    width: 100%;
    height: 100%;

    background-color: rgba(255, 255, 255, 0.1);

    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            background-color: var(--accent-color);
        }
}

