.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: #2f303a;
}

.footer .container{
    display: flex;
}

.footer-main-nav {
    margin-right: 70px;
}

.footer-nav {
    padding-top: 20px;
}

.footer-nav__item{
    padding-bottom: 9px;

    &:last-child {
            padding-bottom: 0;
    }
}


.footer-nav__adress,
.footer-nav__contact{
    text-decoration: none;
    font-style: normal;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
            color: var(--accent-color);
        }
}

.footer-nav__adress{
color: #ffffff;
}

.footer-nav__contact{
    color: rgba(255, 255, 255, 0.6);
}

.footer-form{
    display: flex;

    justify-content: center;
    align-items: flex-end;
}

.footer-form__subscribe {
    display: flex;
    flex-direction: column;
    width: 358px;
}

.footer-form__label {
    color: #ffffff;

    font-weight: 700;
    text-transform: uppercase;

    margin-bottom: 20px;
}

.footer-form__input {
    height: 50px;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;

    background-color: #2f303a;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}
