.hero {
    max-width: 1600px;
    height: 600px;

    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url("../images/main/bgrnhero.jpg");
    background-color: #2f303a;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;

    &__title {
            width: 696px;
            margin-bottom: 30px;
            margin-top: 0;
            margin-left: auto;
            margin-right: auto;
    
            color: #ffffff;
    
            font-weight: 900;
            font-size: 44px;
            line-height: 1.36;
            text-align: center;
            letter-spacing: 0.06em;
            text-transform: uppercase;
        }
}

